#header { }

#navbar { background-color:#ccc; }
#navbar li{ padding:5px; display:inline; }

#sidebar { float:left; width:120px; background-color:#ccf; padding:10px; }

#frame { margin-left:150px; padding:10px; }

#footer { margin:10px; padding:10px; text-align:center; }

error { color:$c00; }